/.gradle
/.qoder
/.trae
/.vscode
/.idea

# 签名文件
difierline.jks
*.keystore

# Android 构建产物
**/build/
local.properties
*.apk
*.aab
*.iml

# NDK 编译产物
**/obj/
.externalNativeBuild/
.cxx/

# LIEF预编译库
**/jni/lief/LIEF-*/
app/src/main/jni/luajitjava/obj/local/
app/src/main/jni/obj/local/
# 其他
*.hprof
captures/